<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   PrivacyInfo.xcprivacy
   AFNetworking

   Created by 任振飞 on 2024/4/29.
   Copyright (c) 2024 AFNetworking. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
